<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Controle de Contatos</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
	<div class="container">
    <%- include('../partials/navbar'); %>
    <h3>Contatos cadastrados</h3> <br>
    <a href="/contatos/novo" class="btn btn-primary">Novo</a>
    <table class="table table-striped">
      <thead> 
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Nascimento</th>
          <th>Categoria</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
	</div>

	<%- include('../partials/footer'); %>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

</html>