<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="navbar-item">
      <a class="nav-link" href="/">Início</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" href="/categorias">Categorias</a>
    </li>
    <li class="navbar-item">
      <a class="nav-link" href="/contatos">Contatos</a>
    </li>
  </ul>
</nav>
<br>
