<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Controle de Contatos</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <%- include('partials/navbar'); %>
    <div class="jumbotron">
      <h1>Bem vindo ao sistema de controle de contatos!</h1>
      <p> Selecione uma opção de cadastro no menu acima...</p>
    </div>
  </div>
</body>
</html>